<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{errorMessage}}
  </div>

  <button type="button" class="btn btn-dark addBtn" (click)="add()"><i class="fas fa-plus"></i> Maak een nieuwe lijst</button>

<div class="row">
<!-- info zie How to show multiple articles.../calling the service in HomeComp -->

<app-list class="col-10 col-sm-5 col-md-3 col-lg-3 col-xl-3  d-flex align-items-stretch border rounded p-3 m-2" *ngFor="let list of lists" [list]="list" [isDetail]="false">

</app-list>
</div>